.main-title{
  float: left;
  background-color: rgb(109,171,73);
  width: 100%;
  padding-left: 10px;
  position: fixed;
  z-index: 1;
  font-family: 'Trocchi', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  width: 45%;
  margin-bottom: 0;
  padding: 0 27px 0 0;
  border: white 0;
  display: block;
  top: 0;
  overflow: hidden;
  float: right;
}

.navbar a {
  width: 25%;
  display: block;
  float: right;
  text-align: center;
  transition: 0.3s;
}

.navbar h3 {
  line-height: 47px;
  cursor: pointer;
}

.navbar h1 {
  display: block;
  float: left;
}

.navbar a:hover {
  background-color: #4E8542;
  cursor: pointer;
}

.nav-active {
  background-color: #4E8542;
  cursor: pointer;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: rgb(109,171,73); /* Add a green color to the "active/current" link */
  color: white;
}

.page-nav a:hover {
    background: rgb(54,98 ,49);
}

.page-nav a.active {
    background: rgba(54, 98, 49, 0.9);
}

.page-nav a {
    display: block;
    cursor: pointer;
    width: 10px;
    background: rgba(54, 98, 49, 0.5);
    border-bottom: 1px solid white;
}

.long-5 a {
    height: 20%;
}

.long-4 a {
    height: 25%;
}

.text-field {
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: justify;
    width: 90%;
    margin-top: 5px;
}

.text-field-sq > p {
    margin-bottom: 5px;
}

.grow {
    transition: height 0.5s;
    -webkit-transition: width .2s;
    float: left;
}
.grow:hover h2{
    width: 145px;
    float: left;
}

.grow h1 {
    max-width: 0;
}

.grow:hover {
    width: 145px;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    text-align: center;
}

.grow:hover h2{
    width: 145px;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -9px;
}

.grow h2 {
    display: none;
    font-size: 3vmin;
}

.onHover h2{
    width: 145px;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -9px;
}

.onHover {
    width: 145px !important;
    position: relative;
    text-align: center;
}

.text-field-sq{
    background: #f5f5f5;
    padding: 10px 15px;
    text-align: justify;
    margin-top: 5px;
    width: 100%;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.38);
}

.video-field {
    display: flex;
    justify-content: flex-end;
}

.page-nav{
    font-family: 'Trocchi', serif;
    font-size: smaller;
}

.arrow{
    -webkit-transform: rotate(90deg);
    margin-bottom: 0;
    margin-top: auto;
}

.image-box:before {
    display: block;
    padding-top: 100%;
}

p, ol, ul {
    font-size: 2vmin;
}

h3 {
    font-size: 3vmin
}

h2 {
    font-size: 4vmin
}

h4.panel-title {
    font-size: 2vmin;
}
video {
    width: 12.5vw;
    height: 20vh;
    cursor: zoom-in;
}

video.modal-video {
    width: 55vw;
    height: 63vh;
    margin: auto;
    cursor: auto;
}

form * {
    margin: 5px;
}

.panel-heading {
    width: 94%;
    display: inline-flex;
    vertical-align: bottom;
}

.panel-heading.question-mark {
    width: 6%;
    height: 100%;
    align-items: center;
}

.panel-heading.question-mark h4 {
    margin-left: 10%;
}

.question-s {
    margin-left: 10px
}

.question-s p{
    margin-bottom: 0;
}

.question-s > path{
    cursor: pointer;
}

.question-heading {
    border-left: 1px solid gray;
    height: 100%;
    align-items: center;
}

p.answer {
    margin-bottom: 0;
}

.slider-control-centerright, .slider-control-centerleft {
    display: none;
}

.expandable-div:hover > div {
    display: block;
    -webkit-animation-duration: .2s;
    float: right;
}

.expandable-div {
    width: 100%;
    text-align: center;
}

.expandable-div  h3{
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.expandable-div  div {
    display: none;
    float: right;
    width: 25%;
    margin: 54px -25% 0 0;
}

.expandable-div  div > a{
    display: block;
    width: 100%;
    background-color: rgb(109,171,73);
    padding: 5px;
}

.expandable-div  div:hover {
    display: block;
}

li > button {
    font-size: 5vmin !important;
    padding: 0.5vmin !important;
}

tr.row {
    width: 100%;
    margin-left: auto;
    margin-right: 0;
}


@media (max-width: 900px) {
   h3 {
       font-size: 2vmin;
   }
}