.main-title{
  float: left;
  background-color: rgb(109,171,73);
  width: 100%;
  padding-left: 10px;
  position: fixed;
  z-index: 1;
  font-family: 'Trocchi', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  width: 30%;
  margin-bottom: 0;
  padding: 0;
  border: white 0;
  display: block;
  top: 0;
  overflow: hidden;
  float: right;
}

.navbar a {
  width: 33%;
  display: block;
  float: right;
  text-align: center;
  transition: 0.3s;
}

.navbar h3 {
  line-height: 50px;
  cursor: pointer;
}

.navbar h1 {
  display: block;
  float: left;
}

.navbar a:hover {
  background-color: #4E8542;
  cursor: pointer;
}

.nav-active {
  background-color: #4E8542;
  cursor: pointer;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: rgb(109,171,73); /* Add a green color to the "active/current" link */
  color: white;
}

.page-nav a:hover {
    background: rgb(54,98 ,49);
}

.page-nav a.active {
    background: rgba(54, 98, 49, 0.9);
}

.page-nav a {
    display: block;
    cursor: pointer;
    width: 10px;
    background: rgba(54, 98, 49, 0.5);
    border-bottom: 1px solid white;
}

.long-5 a {
    height: 20%;
}

.long-4 a {
    height: 25%;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.text-field{
     background: #f5f5f5;
     padding: 10px 15px;
     border-radius: 8px;
     text-align: justify;
     width: 90%;
     margin-top: 5px;
 }

.grow {
    transition: height 0.5s;
    -webkit-transition: width .2s;
    float: left;
}
.grow:hover h2{
    width: 145px;
    float: left;
}

.grow h1 {
    max-width: 0;
}

.grow:hover {
    width: 145px;
    float: left;
}

.grow:hover h2{
    display: block;
}

.grow h2 {
    -webkit-transform: rotate(-90deg);
    display: none;
}

.onHover h2{
    width: 145px;
    display: block;
}

.onHover {
    width: 145px !important;
    float: left;
}
.text-field-sq{
    background: #f5f5f5;
    padding: 10px 15px;
    text-align: justify;
    margin-top: 5px;
}

.video-field {
    display: flex;
    justify-content: flex-end;
}

.page-nav{
    font-family: 'Trocchi', serif;
}

.arrow{
    -webkit-transform: rotate(90deg);
    margin-bottom: 0;
    margin-top: auto;
}
