#example1 .slider:not(.contour):not(.outlier) {
    height: 700px !important;
    margin-top: 400px;
}

#example2 .slider:not(.contour):not(.outlier) {
     height: 700px !important;
     margin-top: 250px;
}

#example3 .slider:not(.contour):not(.outlier) {
    height: 700px !important;
    margin-top: 250px;
}