/*
  Colour palette: EMBL-EBI Green
*/

a {
  color: #222;
}

dl dt a,
a.label,
.label,
a:hover,
a:focus,
a:active {
  color: rgb(116,179,96) !important;
}

h1 { color: #f7f7f7 !important; }
h2 { color: rgb(116,179,96) !important; }
h3 { color: #444444 !important; }

a.special { background-color: #7cd17c !important; }

.menu .active > a,
.tag,
.tabs-title > a:hover,
.button,
.button.primary {
  background-color: rgb(116,179,96) !important;
}
a.tag:hover { color: #fff; }

.tabs-title > a:hover,
.button.primary:hover,
.button.primary:focus { background: rgba(116,179,96,.9) !important; }
.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
  color: #fff !important;
  background: #666 !important; }

.masthead { background-color: rgb(116,179,96) !important; }

/* end */
